<h1>Capteurs</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let sensor">
      <a [routerLink]="['/sensor', sensor.sensorId]">{{ sensor.sensorId }}</a>
    </td>
  </ng-container>

  <!-- Moisture Limit Column -->
  <ng-container matColumnDef="moistureLimit">
    <th mat-header-cell *matHeaderCellDef>Seuil d'humidité</th>
    <td mat-cell *matCellDef="let sensor">
      {{ sensor.moistureRateLimit }}
    </td>
  </ng-container>

  <!-- Last Moisture Column -->
  <ng-container matColumnDef="lastMoisture">
    <th mat-header-cell *matHeaderCellDef>Niveau d'humidité</th>
    <td mat-cell *matCellDef="let sensor">
      {{ sensor.lastMessage?.moisture }}
    </td>
  </ng-container>

  <!-- Alert Column -->
  <ng-container matColumnDef="alert">
    <th mat-header-cell *matHeaderCellDef>Alerte</th>
    <td mat-cell class="alert" *matCellDef="let sensor">
      <svg
        *ngIf="sensor.lastMessage?.alert"
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 512 512"
      >
        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <style>
          svg {
            fill: #ff0000;
          }
        </style>
        <path
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
        />
      </svg>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdate">
    <th mat-header-cell *matHeaderCellDef>Dernière actualisation</th>
    <td mat-cell *matCellDef="let sensor">
      {{ sensor.lastMessage?.creationDate | date : "dd/MM/yyyy HH:mm:ss" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data.</td>
  </tr>
</table>
