/* You can add global styles to this file, and also import other style files */

.mat-typography {
  height: 100%;
  max-width: 80vw;
}
body {
  margin: 0 10%;
  padding: 50px 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #4ac29a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bdfff3,
    #4ac29a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bdfff3,
    #4ac29a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
